<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1> <%= title %> </h1>
  <% if (user) { %>
   <h2>Add a Taco!</h2>
   <form action="/tacos" method="POST">
    <label>
      Name:
      <input type="text" name="name" autocomplete="off">
    </label>
    <label>
      Tasty?
      <input type="checkbox" name="tasty">
    </label>
    <button type="submit">Add 🌮</button>
   </form>
  <% } %>
  <h2>All the Tacos!</h2>
  <ul>
    <% tacos.forEach( taco => { %>
     <li>
      <a href="/tacos/<%= taco._id %>">🌮 <%= taco.name %></a> is <%= taco.tasty ? 'tasty' : 'not tasty' %>
      
    </li>
    <% }) %>
  </ul>
</main>

<%- include('../partials/footer') %>
